<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CalculatorSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CalculatorSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.dneonline.com/calculator.asmx"
                binding="basicHttpBinding" bindingConfiguration="CalculatorSoap"
                contract="LRWCFClient.CalculatorSoap" name="CalculatorSoap" />
            <endpoint address="http://www.dneonline.com/calculator.asmx"
                binding="customBinding" bindingConfiguration="CalculatorSoap12"
                contract="LRWCFClient.CalculatorSoap" name="CalculatorSoap12" />
        </client>
    </system.serviceModel>
</configuration>